
header {
      background-color: #f8f9fa;
      padding: 5px;
      text-align: left;
      vertical-align: text-top;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      max-height: 50px;
      display: flex;
}
h1 {
      color: #343a40;
      font-size: 40px;
      margin: 10px 0;
      display: inline;
      vertical-align: top;
      margin-right: 2cm;
      background-color: #f8f9fa;
      max-height: 50px;
}
.img-logo {
      width: 40px;
      height: auto;
      margin-right: 20px;
}
.container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      color: #f8f9fa;
}
.background {
      background-color: #7a7f85;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.page-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      margin: 0 auto;
      padding: 20px;
      background-color: #f8f9fa;
}
body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #c3c9cf;
}
.div-class-input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f8f9fa;
      color: #245383;
}
.no-bullet-list {
      list-style-type: none;
      padding: 0;
}